name: authentik
services:
  server:
    container_name: authentik-server
    image: ghcr.io/goauthentik/server:latest
    restart: unless-stopped
    command: server
    depends_on:
      - postgresql
      - redis
    ports:
      - 9000:9000
    volumes:
      - ${DOCKERFOLDER}/authentik/media:/media
      - ${DOCKERFOLDER}/authentik/custom-templates:/templates
    environment:
      - AUTHENTIK_REDIS__HOST=redis
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER}
      - AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD}
      - AUTHENTIK_ERROR_REPORTING__ENABLED=true
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
    labels:
      traefik.enable: true
      traefik.http.routers.authentik.tls: true
      traefik.http.routers.authentik.rule: Host("authentik.${URL}")
      traefik.http.services.authentik.loadbalancer.server.port: 9000
      glance.name: Authentik
      glance.id: authentik
      glance.icon: di:authentik
      glance.url: https://authentik.${URL}
      glance.description: Global Authentication
      glance.category: management
    networks:
      - frontbridge
      - backbridge
      - gluetun
  worker:
    container_name: authentik-worker
    image: ghcr.io/goauthentik/server:latest
    restart: unless-stopped
    command: worker
    user: root
    depends_on:
      - postgresql
      - redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKERFOLDER}/authentik/media:/media
      - ${DOCKERFOLDER}/authentik/certs:/certs
      - ${DOCKERFOLDER}/authentik/custom-templates:/templates
    environment:
      - AUTHENTIK_REDIS__HOST=redis
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER}
      - AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB}
      - AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD}
      - AUTHENTIK_ERROR_REPORTING__ENABLED=true
      - AUTHENTIK_SECRET_KEY=${AUTHENTIK_SECRET_KEY}
    labels:
      glance.name: Worker
      glance.parent: authentik
      glance.category: management
    networks:
      - backbridge
  postgresql:
    container_name: authentik-postgressql
    image: docker.io/library/postgres:16-alpine
    restart: unless-stopped
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    labels:
      glance.name: PostgreSQL
      glance.parent: authentik
      glance.category: management
    networks:
      - backbridge
  redis:
    container_name: authentik-redis
    image: docker.io/library/redis:alpine
    restart: unless-stopped
    command: --save 60 1 --loglevel warning
    volumes:
      - redis:/data
    healthcheck:
      test:
        - CMD-SHELL
        - redis-cli ping | grep PONG
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    labels:
      glance.name: Redis
      glance.parent: authentik
      glance.category: management
    networks:
      - backbridge
volumes:
  database:
    driver: local
  redis:
    driver: local

networks:
  frontbridge:
    external: true
  backbridge:
    external: true
  gluetun:
    external: true
